name: Security Scans CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  security-scans:
    runs-on: ubuntu-latest

    steps:
      # 1️ Checkout repository
      - name: Checkout Code
        uses: actions/checkout@v3

      #2️ Setup Docker
      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      # 3️ Build & run test application (ONLY ONCE)
      - name: Build and run test app
        run: |
          docker build -t test-app ./app
          docker run -d --name test-app -p 8000:8000 test-app

      # 4️ Create reports folder
      - name: Create reports folder
        run: mkdir -p reports

      # 5️ Run Security Agent
      - name: Run Security Agent
        run: python run_security_agent.py
        env:
          TARGET_URL: http://localhost:8000
          REPO_DIR: ${{ github.workspace }}

      # 6️ Upload reports
      - name: Upload Security Reports
        uses: actions/upload-artifact@v4
        with:
          name: security-reports
          path: |
            reports/semgrep_report.json
            reports/zap_report.html
            reports/nuclei_report.txt